<% include('../layout/header.ejs') %>

<h1>Verify</h1>

<% 
if(typeof message !== 'undefined'){
    %>
    <h4> <%= message %> </h4>
    <%
}
%>

<form action="/api/v1/user/verification" method="post">
    <input type="email" name="email" placeholder="enter email">
    <br>

    <br>
    <input type="submit" value="send verification link">
</form>
<% include('../layout/footer.ejs') %>